:root{
    --phone_size: 576px;
}
@media (max-width: 1054px) {
    @keyframes translation {
        0%{
            translate: 0px 0px;
        }
        15%{
            translate: 0px 0px;
        }
        20%{
            translate: 0px -60px;
        }
        35%{
            translate: 0px -60px;
        }
        40%{
            translate: 0px -120px;
        }
        55%{
            translate: 0px -120px;
        }
        60%{
            translate: 0px -180px;
        }
    
        75%{
            translate: 0px -180px;
        }
    
        80%{
            translate: 0px -240px;
        }
    
        95%{
            translate: 0px -240px;
        }
    
        100%{
            translate: 0px 0px;
        }
    }
}

@media (min-width: 1054px) {
    @keyframes translation {
        0%{
            translate: 0px 0px;
        }
        40%{
            translate: 0px 0px;
        }
        45%{
            translate: 0px -60px;
        }
        60%{
            translate: 0px -60px;
        }
        65%{
            translate: 0px -120px;
        }
        95%{
            translate: 0px -120px;
        }
    
        100%{
            translate: 0px 0px;
        }
    }
}

/* All */
*{
    box-sizing: border-box;
    /* border: solid 1px red; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    overflow-x: hidden;
}
/* Keyframe for Animation */

@keyframes openMenu {
    0%{
        height: 0px;
    }

    100%{
        height: 200px;
    }
}

body{
    margin: 0;   
}

/* Navigation Bar */
header{
    position: sticky;
    top:0;
    z-index: 1;
    background-color: white;
    transition: 0.5s;
}

main{
    padding: 10px;
    margin: 0 auto;
    width: 80%;
}

nav, .menu-dropdown{
    margin: 0 auto;
    padding: 10px;
    border-bottom: solid 1px black;
}

nav a{
    text-decoration: none;
}

.flex-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}


#menu-button{
    margin-left: auto;
}

.menu-dropdown{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 5px 10px 10px 5px;
}

.menu-dropdown .menu-item{
    padding: 1px 10px;
    margin: 10px 0;
}

.menu-open{
    height: 140px;
    transition: 0.6s;
    padding: 0px 10px 10px 10px;
}

.menu-close{
    height: 0px;
    transition: 0.6s;
    padding: 0px 10px 0px 10px;
}

.menu-item-open{
    font-size: 1rem;
    transition: 0.8s;
    border-bottom: solid 1px white;
}

.menu-item-close{
    font-size: 0;
    transition: 0.2s;
}


#profile img{
    height: 120px;
    width: auto;
}

#profile .flex-item{
    padding: 0 auto;
    margin: 0 auto;
    text-align: center;
    width: 30%;
}

#profile h3, #profile p{
    margin: 5px 5px;
}


#profile .jumbotron{
    position: relative;
    width: 100%;
    height: 400px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

#profile .profile-picture img{
    border-radius: 50%;
}
#profile .jumbotron-background{
    position: absolute;
    z-index: -1;
    left:0;
    top:0;
    width: 100%;
    height: 400px;
    background-image: url("img/repeat-background.png");
    transition: 1s;
    background-size: 200px 200px;
    background-repeat: repeat;
    
}

#profile .jumbotron-background.onscroll{
    position: fixed;
    top:-70px;
    left:-25%;
    z-index: -1;
    width: 200%;
    height: calc(100% + 70px);
    background-size: 200px 200px;
    background-repeat: repeat;
    transition: 1s;
    overflow: hidden;
    
}

#profile .short-description{
    font-size: 40pt;
    text-shadow: 5px 5px slategrey;
    overflow-y: hidden;
    height: 60px;
}

#profile .short-description .short-title{
    animation: translation 5s infinite;

}

@media (min-width: 576px){
    #profile .flex-container{
        flex-direction: row;
    }

    #profile .flex-item{
        width: 30%;
    }

    .flex-item{
        margin: 0px 2.5vw 0px 2.5vw;
        padding: 10px;
    }

    .phone-on{
        display: none;
    }

    .phone-off{
        display: flex;
    }

    main, nav, .menu-dropdown{
        width: 70%;
    }
}

@media (max-width: 576px){

    #profile .flex-container{
        flex-direction: column;
    }
    #profile .flex-item{
        width: 100%;
    }

    .flex-item{
        margin: 0;
        padding: 10px;
    }

    .phone-on{
        display: flex;
    }

    .phone-off{
        display: none;
    }

    main, nav, .menu-dropdown{
        width: 90%;
    }
}

#projects *{
    /* border: solid 1px red; */
}

.grid{
    display: grid;
}

#projects .grid{
    grid-template-columns: auto 220px;
    grid-template-rows: 40px auto auto;
    border: solid 2px black;
    padding: 10px;
    margin: 20px 0;
    
    background-color: white;
}

#projects .grid *{
    padding: 5px 5px 5px 5px;
}

#projects h3, #projects h4{
    margin: 0px;
}
.grid-header{
    grid-area: 1 / 1  / 1 / 1;
    margin: auto 0;
}

.grid-description{
    grid-area: 2/ 1/ 2/ 1;
}

.grid-description p{
    margin: 0;
}

.grid-image{
    grid-area: 1/ 2/ 4/ 2;
}
.grid-image img{
    width: 200px;
    height: 200px;
}

.grid-tech{
    grid-area: 3/1/3/1;
}

.grid-tech ul{
    margin: 0;
    list-style: none;
}

.grid-tech li{
    display: inline-block;
    border: solid 1px black;
    margin: 2px;
}

@media (max-width: 576px){
    #projects .grid{
        grid-template-columns: auto;
        grid-template-rows: auto 40px auto auto;
        border: solid 2px black;
        padding: 10px;
        margin: 20px 0;
    }

    .grid-header{
        grid-area: 2 / 1  / 2 / 1;
        margin: auto 0;
    }

    .grid-description{
        grid-area: 3/ 1/ 3/ 1;
    }

    .grid-image{
        grid-area: 1/ 1/ 1/ 1; 
    }
    
    .grid-tech{
        grid-area: 4/1/4/1;
    }

    .grid-image img{
        width: 100%;
        height: auto;
    }
}


#projects .grid{
    position: relative;
}


#projects .learn-more{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    color: white;

    text-align: center;
    align-content: center;
}

footer{
    text-align: center;
}